@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Hello world</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="charset" content="utf-8" />
</head>
<body>
    <h1>Hello world!</h1>
    <h2>Count is : @ViewBag.Count</h2>
</body>
</html>